.biz_header {
	width: 100%;
	height: 235px;
	text-align: center;
	background-image: url('header.jpg');
}

.biz_title {
	margin-top: 0px;
	padding-top: 65px;
	font-size: 100px;
	font-family: 'Amatic SC', cursive;
	color: white;
	opacity: 0.9;
}

.biz_body {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	font-family: 'Amatic SC', cursive;
}

#search_result.biz_body {
	width: 1230px;
}

.upbox {
	position: relative;
	display: flex;
	padding: 20px;	
}

.vote_div {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 15px;
	text-align: center;
	padding-top: 5px;
}

#vote_count {
	font-size: 30px;
}

#comment_vote_div {
	padding-top: 2px;
}

.vote_buttons {
	width: 25%;
}

.text_buttons {
	width: 85%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#comment {
	width: 90%;
	height: 90%;
	padding: 5px;
}

textarea#comment_comment {
	width: 600px !important;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.showComment {
	margin-top: 25px;
}

#commentBox {
	text-align: center;
}

#menu_language {
	font-size: 45px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#comment_language {
	font-size: 25px;
	margin-top: 9px;
	margin-bottom: 0px;
}

.menu_image {
	width: 33%;
	height: 330px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.menu_image img {
	width: auto;
	height: 100%;
	position: right;
	margin: 2px;
}