.biz_header {
	width: 100%;
	height: 300px;
	text-align: center;
	background: url('header.jpg') center center fixed;
	background-size: cover;
}

.biz_title {
	margin-top: 0px;
	padding-top: 80px;
	font-size: 120px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #cb3b3b;
	opacity: 1;
}

.biz_body {
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#search_result.biz_body {
	width: 1230px;
}

.upbox {
	position: relative;
	display: flex;
	padding: 20px;	
}

.vote_div {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 25px;
	text-align: center;
	padding-top: 0px;
}

#vote_count {
	font-size: 21px;
}

#comment_vote_div {
	padding-top: 2px;
	width: 20px;
}

.vote_buttons {
	width: 25%;
}

.text_buttons {
	width: 85%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#comment {
	width: 90%;
	height: 90%;
	padding: 7px;
	margin-left: 10%;
	background-color: #f4f2f2;
}

textarea#comment_comment {
	width: 600px !important;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.showComment {
	margin-top: 20px;
}

#commentBox {
	text-align: center;
}

#menu_language {
	font-size: 30px;
	font-weight: 400;
	margin-top: 8px;
	margin-bottom: 0px;
}

#comment_language {
	font-size: 20px;
	font-weight: 300;
	margin-top:11px;
	margin-bottom: 0px;
}

.menu_image {
	width: 33%;
	height: 330px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.menu_image img {
	width: auto;
	height: 100%;
	position: right;
	margin: 2px;
}

.menuToggle {
	opacity: 0.5;
	color: #cb3b3b;
}

.voteToggle {
	text-decoration: none	!important;
	color: #cb3b3b 			!important;
}

#fixedButton {
	position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.55;
}

.clickedVote {
	color: #cb3b3b;
	pointer-events: none;
}